.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 480px;
  margin: 13px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 610px;
  width: 616px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -43px auto 28px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: -19px 166px 60px 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 361px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-top: -320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 99px;
    margin-right: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin: -33px 11px 23px;
  }
}