.u-section-1 .u-sheet-1 {
  min-height: 761px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 37px auto 0 431px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 277px;
  height: 285px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  margin: 64px auto 0 431px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 277px;
  height: 222px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 355px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 222px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 63px;
    margin-left: 32px;
  }
}