.u-section-1 .u-sheet-1 {
  min-height: 1293px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  margin: 37px auto 0 431px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 277px;
  height: 285px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  margin: 64px auto 0 431px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 277px;
  height: 222px;
  margin: -10px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  margin: 51px auto 0 432px;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 276px;
  height: 232px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  margin: 37px auto 0 432px;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 276px;
  height: 161px;
  margin: 5px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 355px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 232px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 282px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 222px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 222px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 42px;
    margin-left: 222px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 66px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 63px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 40px;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 32px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }
}