.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-image-1 {
  width: 594px;
  height: 247px;
  margin: 56px auto 0;
}

.u-section-1 .u-text-1 {
  width: 594px;
  margin: 54px auto 56px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --text-hover-color-var: #478ac9;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 17px 63px 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 225px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-image-1 {
    height: 142px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-bottom: 33px;
    margin-left: 14px;
  }
}