.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 32px auto 0 344px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 300px;
  margin: 10px auto 0 344px;
}

.u-section-1 .u-text-2 {
  margin: -288px 335px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 284px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 284px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 339px;
    margin-right: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-left: 127px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 13px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -300px;
    margin-right: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
    margin-right: auto;
  }
}