.u-section-1 .u-sheet-1 {
  min-height: 1073px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px 56px 0 33px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px 21px 0 68px;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 95px;
  margin: 29px auto 0 119px;
}

.u-section-1 .u-image-2 {
  width: 254px;
  height: 95px;
  margin: -95px auto 0;
}

.u-section-1 .u-image-3 {
  width: 258px;
  height: 115px;
  margin: -95px 135px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 198px;
  height: 127px;
  margin: 19px auto 0 157px;
}

.u-section-1 .u-image-5 {
  width: 239px;
  height: 102px;
  margin: -133px auto 0;
}

.u-section-1 .u-image-6 {
  width: 202px;
  height: 130px;
  margin: -73px 135px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 198px;
  height: 114px;
  margin: 2px auto 0 134px;
}

.u-section-1 .u-image-8 {
  width: 292px;
  height: 160px;
  margin: -131px auto 0;
}

.u-section-1 .u-image-9 {
  width: 310px;
  height: 76px;
  margin: -116px 68px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 220px;
  height: 202px;
  margin: 75px auto 60px 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 223px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -108px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -210px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 205px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -212px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 39px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -153px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: -12px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 12px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -95px;
    margin-right: 57px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 68px;
    margin-left: 106px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -303px;
    margin-right: 64px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 83px;
    margin-right: 91px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 38px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 258px;
    height: 114px;
    margin-top: -102px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 52px;
    margin-right: 50px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -76px;
    margin-left: 114px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -411px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -210px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 183px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -281px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 199px;
  }

  .u-section-1 .u-image-7 {
    margin-top: -209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    width: 246px;
    height: 79px;
    margin-top: 248px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -316px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 248px;
    height: 113px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 444px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -276px;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: -270px;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: 608px;
    margin-right: 60px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -252px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    width: 280px;
    height: 69px;
    margin-top: -220px;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    width: 206px;
    height: 189px;
    margin-top: 313px;
    margin-right: 52px;
    margin-left: auto;
  }
}