.u-section-1 .u-sheet-1 {
  min-height: 1496px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1 .u-text-2 {
  width: 501px;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: 13px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-video-2 {
  width: 533px;
  height: 300px;
  margin: 20px auto 0 312px;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
}

.u-section-1 .u-video-3 {
  width: 533px;
  height: 300px;
  margin: 22px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
}

.u-section-1 .u-video-4 {
  width: 533px;
  height: 300px;
  margin: 13px auto 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
}

.u-section-1 .u-image-1 {
  width: 82px;
  height: 82px;
  margin: 0 295px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 67px;
  height: 67px;
  margin: -74px auto 0 327px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -53px 415px 57px 414px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 45px;
    margin-right: 34px;
    margin-left: 312px;
  }

  .u-section-1 .u-video-3 {
    margin-top: -179px;
  }

  .u-section-1 .u-video-4 {
    margin-top: -312px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -46px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -19px;
  }

  .u-section-1 .u-text-3 {
    margin: -101px 342px 60px 341px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: 408px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-video-2 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-1 .u-video-3 {
    margin-top: 26px;
  }

  .u-section-1 .u-video-4 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 534px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -71px;
    margin-left: 104px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: -53px auto 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -91px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 699px;
    margin-left: 312px;
  }

  .u-section-1 .u-video-3 {
    margin-top: -179px;
  }

  .u-section-1 .u-video-4 {
    margin-top: -238px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 558px;
    margin-right: 94px;
    margin-left: 458px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -113px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -684px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-video-2 {
    height: 191px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-3 {
    height: 191px;
    margin-top: 225px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-video-4 {
    height: 191px;
    margin-top: -399px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 257px;
    margin-right: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -74px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.33333rem;
    margin: -101px 31px 60px;
  }
}